<!-- Sidebar Left -->
<div class="p-2 max-h-[80vh] overflow-y-auto scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100">
  <h2 class="mb-2 text-sm font-bold">Base</h2>
  <ul class="space-y-2 text-sm">
    <!-- <li><a [routerLink]="'#'" href="/src/base/colors.html" class="block pb-1 font-medium btn-link">Colores</a></li> -->
    <li><a [routerLink]="'fonts'" class="block pb-1 font-medium btn-link">Tipografía</a></li>
  </ul>

  <h2 class="mt-6 mb-2 text-sm font-bold">Documentación</h2>
  <ul class="space-y-2 text-sm">
    <!-- <li><a [routerLink]="'#'" href="/src/base/installation.html" class="block pb-1 font-medium btn-link">Instalación</a></li>
    <li><a [routerLink]="'#'" href="/src/base/svg.html" class="block pb-1 font-medium btn-link">Uso de SVG</a></li> -->
  </ul>


  <h2 class="mt-6 mb-2 text-sm font-bold">Componentes</h2>
  <ul class="space-y-2 text-sm">
    <li><a [routerLink]="'accordion'" class="block pb-1 font-medium btn-link">Acordeón</a></li>
    <li><a [routerLink]="'alerts'" class="block pb-1 font-medium btn-link">Alertas</a></li>
    <li><a [routerLink]="'badges'"  class="block pb-1 font-medium btn-link">Badges</a></li>
    <li><a [routerLink]="'buttons'" class="block pb-1 font-medium btn-link">Botones</a></li>
    <li><a [routerLink]="'breadcrumbs'" class="block pb-1 font-medium btn-link">Breadcrumbs</a>
    </li>
    <li><a [routerLink]="'cards'" class="block pb-1 font-medium btn-link">Cards</a></li>
    <li><a [routerLink]="'carousel'" class="block pb-1 font-medium btn-link">Carousel</a></li>
    <li><a [routerLink]="'collapsible'" class="block pb-1 font-medium btn-link">Colapsable</a></li>
    <li><a [routerLink]="'checkboxes'" class="block pb-1 font-medium btn-link">Checkboxes</a>
    </li>
    <li><a [routerLink]="'dropdown'" class="block pb-1 font-medium btn-link">Dropdown</a></li>
    <li><a [routerLink]="'inputs'" class="block pb-1 font-medium btn-link">Inputs</a></li>
    <li><a [routerLink]="'lists'" class="block pb-1 font-medium btn-link">Listas</a></li>
    <li><a [routerLink]="'modals'" class="block pb-1 font-medium btn-link">Modales</a></li>
    <li><a [routerLink]="'navbar'" class="block pb-1 font-medium btn-link">Navbar</a></li>

    <li><a [routerLink]="'pagination'" class="block pb-1 font-medium btn-link">Paginación</a>
    </li>
    <li><a [routerLink]="'popovers'" class="block pb-1 font-medium btn-link">Popovers</a></li>
    <li><a [routerLink]="'progressbar'" class="block pb-1 font-medium btn-link">Progressbar</a></li>
    <li><a [routerLink]="'tabs'" class="block pb-1 font-medium btn-link">Pestañas</a></li>
    <li><a [routerLink]="'radiobuttons'" class="block pb-1 font-medium btn-link">Radiobuttons</a>
    </li>

    <li><a [routerLink]="'sidebar'" class="block pb-1 font-medium btn-link">Sidebar</a></li>
    <li><a [routerLink]="'selectores'" class="block pb-1 font-medium btn-link">Selectores</a></li>
    <li><a [routerLink]="'selectores-search'" class="block pb-1 font-medium btn-link">Selectores de búsqueda</a></li>
    <li><a [routerLink]="'spinner-loading'" class="block pb-1 font-medium btn-link">Spinner / Loading</a></li>
    <li><a [routerLink]="'tables'" class="block pb-1 font-medium btn-link">Tablas</a></li>
    <li><a [routerLink]="'table-javi'" class="block pb-1 font-medium btn-link">Tabla Javi</a></li>
    <li><a [routerLink]="'textarea'" class="block pb-1 font-medium btn-link">Textarea</a></li>
    <li><a [routerLink]="'toggles'" class="block pb-1 font-medium btn-link">Toggles</a></li>
    <li><a [routerLink]="'tooltips'" class="block pb-1 font-medium btn-link">Tooltips</a></li>
    <li><a [routerLink]="'video-recorder'" class="block pb-1 font-medium btn-link">Video recorder</a></li>
  </ul>

  <!-- Layouts -->
  <h2 class="mt-6 mb-2 text-sm font-bold">Layouts</h2>
  <ul class="space-y-2 text-sm">
    <li><a [routerLink]="'login'" class="block pb-1 font-medium btn-link">Login</a></li>

  </ul>
</div>
