<main class="col-span-1 p-6 bg-white lg:col-span-8">

  <header class="mb-12">
    <h1 class="text-4xl font-bold">Acordeón</h1>
    <p class="mt-4 text-gray-600 text-md">El acordeón es un componente de interfaz de usuario que permite al
      usuario mostrar y ocultar secciones de contenido
      relacionado en una página. Hay muchas formas de utilizar este componente, como mostrar una lista de
      preguntas
      frecuentes, mostrar varios menús y submenús, mostrar las ubicaciones de una empresa en particular,
      etc.
    </p>
  </header>

  <section id="acordion-simple">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Cómo usar Acordeón simple</h2>

        <p class="mb-8 text-gray-600 text-md">
          Importar cygnus-accordion desde la biblioteca ngx-cygnus-ui en el .ts del componente donde se implementará.
        </p>

        <pre>
          <code [highlight]="accordionCodeImport"
                language="ts"
                lineNumbers></code>
        </pre>

        <p class="mb-8 text-gray-600 text-md">
          En el documento .html del componente, posicionar la plantilla del accordion. Dentro se puede colocar cualquier texto u otros componentes y quedaran dentro del accordion.
        </p>

        <pre>
          <code [highlight]="accordionHtml"
                language="html"
                lineNumbers></code>
        </pre>

      </div>
    </div>
  </section>

  <section id="acordion-simple">
    <div
      class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Acordeón simple</h2>

        <div>
          <div>
            <cygnus-accordion [accordionTitle]="'Acordeón #1'" >
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit nemo pariatur
              reiciendis voluptates repellendus, eum sunt architecto quam praesentium?
              Nesciunt velit consequatur reiciendis expedita natus, hic veniam quisquam quam
              dolorum.
            </cygnus-accordion>

          </div>
          <div>
            <pre>
              <code [highlight]="accExampleHtml"
                    language="html"
                    lineNumbers></code>
            </pre>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
