@if (!badgeIsClosed()) {
<div
  [class]="badgeAllClasses()"
  (mouseenter)="xColorOnMouseEnter()"
  (mouseleave)="xColorOnMouseLeave()"
>
  @if (badgeIconAsset()!=='' && badgeIconPosition()==='left') {
    <lib-ngx-cygnus-icons
      [size]="badgeIconSize"
      [textColor]="badgeIconColor()"
      [textRoute]="badgeIconAsset()"
    />
  }
  @if (badgeState) {
    <div [class]="badgeStateClassesIcon"></div>
  }

  {{badgeText()}}

  @if (btnBadge) {
    <button
      class="absolute top-0 right-0 flex items-center justify-center p-0.5 transition-colors rounded-md text-secondary-700 hover:bg-white/10 active:bg-white/10"
      type="button"
      (click)="badgeClose()"
    >
      <lib-ngx-cygnus-icons
        [size]="badgeIconSize"
        [textColor]="xBGColor()"
        [textRoute]="'x-close'"
      />
    </button>
  }

  @if (badgeIconAsset()!=='' && badgeIconPosition()==='right') {
    <lib-ngx-cygnus-icons
      [size]="badgeIconSize"
      [textColor]="badgeIconColor()"
      [textRoute]="badgeIconAsset()"
    />
  }
</div>
}
