
  <fieldset class="fieldset">
@if (labelStyle()==='fieldset-legend-label' && selectLabel()!=='') {
    <label class="block mb-1 text-sm font-medium text-gray-800 dark:text-white" >{{selectLabel()}}</label>
}

    <!-- Wrapper condicional para gradient border -->
    <div [class]="gradientBorder() ? TW_CLASS.GRADIENT_WRAPPER : TW_CLASS.NORMAL_WRAPPER">
      <div
        [class]="gradientBorder() ? TW_CLASS.GRADIENT_INNER : ''"
        [class.relative]="labelStyle()==='label-interactive'"
        [class.mt-6]="labelStyle() === 'animated-legend-label' && (control().value || isFocused())"
        class="transition-colors duration-200"
      >

        <select
          #cygnusSelect
          [id]="selId()"
          [class]="
            'peer ' +
            TW_CLASS.SELECT + ' ' +
            selGetSize() + ' ' +
            selGetType() + ' ' +
            (isDisabled() ? TW_CLASS.SELECT_DISABLED : '') + ' ' +
            (control().value === '' || control().value === null ? 'text-gray-300! dark:text-gray-500!' : '') + ' ' +
            (gradientBorder() ? 'bg-warning-25! dark:bg-gray-700!'  : '')
          "
          [disabled]="isDisabled()"
          [autoWidthSelectDirective]="selAutoWidth()"
          (change)="setValue(cygnusSelect.value)"
          (focus)="onFocus()"
          (blur)="generateBlurEvent()"
          [formControl]="control()"
        >
          @if (selInstructionOpDisabled()) {
            <option  class="text-gray-300! dark:text-gray-500!" value="" disabled selected>{{selInstructionOpDisabled()}}</option>
          }
          @for (op of options(); track $index) {
            <option  class="text-gray-700 dark:text-gray-50" [value]="op.value">{{op.option}}</option>
          }
        </select>

        @if (labelStyle()==='label-top' && selectLabel()!=='') {
          <label
            class="absolute left-2 px-1 transition-transform duration-200 pointer-events-none origin-left bg-white dark:bg-gray-700 rounded
            text-gray-500 dark:text-gray-400 -top-2 text-xs scale-90"
          >
            {{selectLabel()}}
          </label>
        }

        @if (labelStyle()==='fake-placeholder' && selectLabel()!=='' && !(control().value) ) {
          <!--
            FALTA QUE CUANDO SE SELECCIONE UN ELEMENTO, SE OCULTE EL LABEL
            Y SI SE LLEGA A DES-SELECCIONAR, VUELVA A APARECER
          -->
          <label
            class="absolute left-2 px-1 transition-transform duration-200 pointer-events-none origin-left bg-white dark:bg-gray-700 rounded
            text-gray-500 dark:text-gray-400 top-2.5 text-sm scale-100"
          >
            {{selectLabel()}}
          </label>
        }

        @if (labelStyle()==='label-interactive' && selectLabel()!=='') {
          <label
            class="absolute left-2 px-1 transition-transform duration-200 pointer-events-none origin-left bg-white dark:bg-gray-700 rounded
            text-gray-500 dark:text-gray-400
            peer-focus:-top-2 peer-focus:text-xs peer-focus:scale-90"
            [class]="(control().value !== '' && control().value !== null)
              ? '-top-2 text-xs scale-90'
              : 'top-2.5 text-sm scale-100'"
          >
            {{selectLabel()}}
          </label>
        }

        @if (labelStyle()==='animated-legend-label' && selectLabel()!=='') {
          <label
            class="absolute transition-transform duration-200 pointer-events-none origin-left
            peer-focus:-top-6 peer-focus:left-0 peer-focus:text-sm peer-focus:font-medium"
            [class]="((control().value !== '' && control().value !== null) || isFocused())
              ? '-top-6 left-0 text-sm font-medium text-gray-800 dark:text-white'
              : 'top-2.5 left-3 text-sm text-gray-400'"
          >
            {{selectLabel()}}
          </label>
        }

      </div><!-- Wrapper condicional para gradient border -->
    </div><!-- Wrapper condicional para gradient border -->

@if (selectHint()!=='') {
    <p [class]="hintGetColor()" >{{selectHint()}}</p>
}
  </fieldset>


