@if (showAlert()) {
  <div
    [class]="
      TW_CLASS.ALERT_SIMPLE_BASE + ' ' +
      (isRounded() ? 'rounded-lg' : '') + ' ' +
      (alertEquis() ? (TW_CLASS.ALERT_SIMPLE_EQUIS_BASE + ' ' + (isRounded() ? 'rounded-md' : '') ) : '') + ' ' +
      alertAllClasses() + ' '
    "
    role="alert"
  >
  @if (alertIcon()!='') {
    <div class="hidden dark:flex">
      <lib-ngx-cygnus-icons class="me-2"
        [size]="''"
        [textColor]="( (alertIconColor()==='indigo') ? 'white' : alertIconColor())"
        [textRoute]="alertIcon()"
      />
    </div>
    <div class="flex dark:hidden">
      <lib-ngx-cygnus-icons class="me-2"
        [size]="''"
        [textColor]="alertIconColor()"
        [textRoute]="alertIcon()"
      />
    </div>
  }
    <span class="font-bold">
      {{alertTitle()}}
    </span>&nbsp;
    {{alertContent()}}

  @if (alertEquis()) {
    <button (click)="hideAlert()"
      class="flex items-center justify-center transition-colors w-8 h-8 rounded-md hover:bg-white/10 active:bg-white/10 absolute top-1.5 right-1.5"
      type="button">
      <span class="hidden dark:flex">
        @if (alertIconColor()==='secgray') {
          <lib-ngx-cygnus-icons
            [size]="'lg'"
            [textColor]="'#D0D5DD'"
            [textRoute]="'x-close'"
          />
        } @else if (alertIconColor()==='indigo') {
          <lib-ngx-cygnus-icons
            [size]="'lg'"
            [textColor]="'white'"
            [textRoute]="'x-close'"
          />
        } @else {
          <lib-ngx-cygnus-icons
            [size]="'lg'"
            [textColor]="alertIconColor()"
            [textRoute]="'x-close'"
          />
        }
      </span>
      <span class="flex dark:hidden">
          <lib-ngx-cygnus-icons
            [size]="'lg'"
            [textColor]="alertIconColor()"
            [textRoute]="'x-close'"
          />
      </span>
    </button>
  }
  </div>
}


