


<main class="col-span-1 p-6 bg-white lg:col-span-8">

  <header class="mb-12">
      <h1 class="text-4xl font-bold">Spinner / Loading</h1>
      <p class="mt-4 text-secondary-600 text-md">
        Herramientas para mostrar al usuario que se está cargando algún elemento.
      </p>
  </header>

  <section id="select-search-simple">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Loading Screen</h2>
        <p class="mb-8 text-secondary-600 text-md">
          Presiona el botón y verás una pantalla sobrepuesta que bloquea la página para que el usuario no ejecute acción hasta que termine un determinado proceso.
        </p>

        <cygnus-button [btnTypes]="'btn-primary'" (click)="openLoadingScreen()" >Abrir loading-screen</cygnus-button>
        @if (showLoadingScreen()) {
          <cygnus-loading-screen [mostrarTexto]="'Cargando datos...'" />
        }


        <pre>
          <code [highlight]="cygnusLoadingScreenHtml"
                language="html"
                lineNumbers></code>
        </pre>

        <pre>
          <code [highlight]="cygnusLoadingScreenTs"
                language="ts"
                lineNumbers></code>
        </pre>

        <p class="mb-8 text-secondary-600 text-md">
          Valores por defecto:
        </p>
        <ul class="mb-8 text-gray-600 text-md list-none">
          <li><b>[mostrarTexto]:</b> 'Cargando datos...'</li>
          <li><b>[textClassColor]:</b> 'text-white'</li>
          <li><b>[borderClassColor]:</b> 'border-gray-300'</li>
          <li><b>[spinnerClassColor]:</b> 'border-t-blue-500'</li>
        </ul>
        <p class="mb-8 text-secondary-600 text-md">
          <b>[mostrarTexto]</b> recibe un texto para mostrar en la pantalla de carga. <br>
          <b>[textClassColor]</b> debería recibir una clase de tailwind relacionada con el color del texto. <br>
          <b>[borderClassColor]</b> debería recibir una clase de tailwind relacionada con el color del spinner de fondo. <br>
          <b>[spinnerClassColor]</b> debería recibir una clase de tailwind relacionada con el color del spinner que más destaque. <br>
        </p>

      </div>
    </div>
  </section>
</main>
