<main class="col-span-1 p-4 bg-white lg:col-span-8">

  <header class="mb-12">
    <h1 class="text-4xl font-bold">Botones</h1>
    <p class="mt-4 text-gray-600 text-md">Los botones son un elemento esencial del diseño web. Básicamente,
        son enlaces con estilo que captan la atención del usuario. Ayudan a los usuarios a navegar por nuestros sitios web o aplicaciones y los llevan a
        realizar una acción en particular, como enviar un formulario de contacto o realizar un pedido de la forma más sencilla
        posible.

        Vea a continuación nuestros ejemplos de componentes de botones.</p>
  </header>

  <section id="button-simple-explanation">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-4 text-xl font-semibold">Cómo implementar Cygnus Button</h2>
        <p class="mb-8 text-gray-600 text-md">
          Importar el componente de la biblioteca ngx-cygnus-ui en el archivo .ts del componente donde lo vas a implementar. Se encuentran disponibles 3 tipos de botones.
        </p>

        <pre>
          <code [highlight]="cygnusButtonImport"
                language="ts"
                lineNumbers></code>
        </pre>

        <p class="mb-8 text-secondary-600 text-md">
          En el documento .html del componente, posicionar la plantilla de la tabla y agregar la configuración según corresponda.
        </p>

        <pre class="w-full">
          <code [highlight]="btnSimpleExample"
                language="html"
                lineNumbers></code>
        </pre>

        <p class="mb-8 text-gray-600 text-md">
          <b>[btnTypes]:</b> acá se indica el tipo de botón que se quiere utilizar dependiendo del tamaño, color, etc. También pueden combinarse varios aunque se pueden sobreescribir algunas propiedades.
        </p>

        <ul class="mb-8 text-gray-600 text-md list-none">
          <li><b>'btn':</b> botón por defecto.</li>
          <li><b>'btn-primary':</b> botón color estándar (azul).</li>
          <li><b>'btn-secondary':</b> botón color blanco.</li>
          <li><b>'btn-accent':</b> botón color celeste.</li>
          <li><b>'btn-gray':</b> botón color gris.</li>
          <li><b>'btn-full-gray':</b> botón color gris intenso.</li>
          <li><b>'btn-success':</b> botón color verde.</li>
          <li><b>'btn-warning':</b> botón color amarillo.</li>
          <li><b>'btn-error':</b> botón color rojo.</li>
          <li><b>'btn-indigo':</b> botón color indigo de tailwind.</li>
          <li><b>'btn-blue-violet':</b> botón color indigo en una variante de Cygnus.</li>
          <li><b>'btn-cygnus':</b> botón color cygnus directo del ícono.</li>
          <li><b>'btn-primary-cygnus':</b> botón color cygnus en otra variante.</li>
          <li><b>'btn-accesibilidad-cygnus':</b> botón color cygnus configurado para botón accesibilidad.</li>
          <li><b>'btn-postulaaqui-orange':</b> botón color plataforma postula aquí.</li>
          <li><b>'btn-sidebar':</b> botón diseñado para el sidebar del mainboard.</li>
          <li><b>'btn-ghost':</b> botón fantasma.</li>
          <li><b>'btn-ghost-gray':</b> botón fantasma gris.</li>
          <li><b>'btn-outlined':</b> botón blanco que se vuelve azul.</li>
          <li><b>'btn-outlined-red':</b> botón blanco que se vuelve rojo.</li>
          <li><b>'btn-outlined-green':</b> botón blanco que se vuelve verde.</li>
          <li><b>'btn-outlined-amber':</b> botón blanco que se vuelve ámbar.</li>
          <li><b>'btn-outlined-gray':</b> botón blanco que se vuelve gris.</li>
          <li><b>'btn-outlined-cygnus':</b> botón blanco que se vuelve color cygnus.</li>
          <li><b>'btn-disabled':</b> botón inactivo.</li>
          <li><b>'btn-block':</b> botón que ocupa todo el ancho disponible.</li>
          <li><b>'btn-circle':</b> botón circular.</li>

          <li><b>'btn-pagination-circle-size':</b> tamaño predeterminado del botón de paginación con forma de círculo.</li>
          <li><b>'btn-pagination-size':</b> tamaño predeterminado del botón de paginación.</li>
          <li><b>'btn-size-xs':</b> botón pequeñito.</li>
          <li><b>'btn-size-sm':</b> botón pequeño.</li>
          <li><b>'':</b> Si no se indica tamaño del botón, el botón tendrá un tamaño mediano por defecto.</li>
          <li><b>'btn-size-lg':</b> botón grande.</li>
          <li><b>'btn-size-xl':</b> botón muy grande.</li>
          <li><b>'btn-icon-xs':</b> indica que el botón tiene ícono y es de tamaño pequeño.</li>
          <li><b>'btn-icon-sm':</b> indica que el botón tiene ícono y es de tamaño mediano.</li>
          <li><b>'btn-icon':</b> indica que el botón tiene ícono y es de tamaño lg por defecto.</li>
          <li><b>'btn-icon-lg':</b> indica que el botón tiene ícono y es de tamaño grande.</li>
          <li><b>'btn-icon-xl':</b> indica que el botón tiene ícono y es de tamaño muy grande.</li>
          <li><b>'btn-icon-only':</b> indica que el botón tiene sólo ícono, nada más, y es de tamaño estándar.</li>
          <li><b>'btn-icon-only-size-xs':</b> indica que el botón tiene sólo ícono, nada más, y es de tamaño pequeñito.</li>
          <li><b>'btn-icon-only-size-sm':</b> indica que el botón tiene sólo ícono, nada más, y es de tamaño pequeño.</li>
          <li><b>'btn-icon-only-size-lg':</b> indica que el botón tiene sólo ícono, nada más, y es de tamaño grande.</li>
          <li><b>'btn-icon-only-size-xl':</b> indica que el botón tiene sólo ícono, nada más, y es de tamaño muy grande.</li>

          <li><b>'btn-icon-only-size-full':</b> indica que el botón tiene un sólo ícono y que ocupa practicamente el tamaño de todo el botón.</li>

          <li><b>'btn-group-left':</b> En un grupo de botones, el botón que tiene esta indicación debería encontrarse en el extremo izquierdo del grupo.</li>
          <li><b>'btn-group-middle':</b> En un grupo de botones, el botón que tiene esta indicación debería encontrarse en el medio del grupo.</li>
          <li><b>'btn-group-right':</b> En un grupo de botones, el botón que tiene esta indicación debería encontrarse en el extremo derecho del grupo.</li>

        </ul>
      </div>

    </div>
  </section>

  <section id="button-simple">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-4 text-xl font-semibold">Botón simple</h2>
        <div class="flex items-center justify-center w-full gap-4 mb-4">

          <!-- COMPONENTE: Botón Sólido/simple/primary -->
          <cygnus-button [btnTypes]="'btn btn-size-sm'" >Botón simple</cygnus-button>

        </div>
        <pre class="w-full">
          <code [highlight]="btnSimpleExample"
                language="html"
                lineNumbers></code>
        </pre>
        <pre class="w-full">
          <code [highlight]="btnSimpleExampleTs"
                language="ts"
                lineNumbers></code>
        </pre>
      </div>

    </div>
  </section>

  <section id="navbar-sidebar-buttons">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-4 text-xl font-semibold">Navbar Sidebar Buttons</h2>
        <div class="flex items-center justify-center w-full gap-4 mb-4">

          <!-- COMPONENTE: Botón Navbar -->
          <cygnus-button-link
            [btnLinkType]="'btn-link-navbar'"
            [btnRouterLinkText]="''"
          >
            Botón Navbar
          </cygnus-button-link>
          <!-- COMPONENTE: Botón Sidebar -->
          <cygnus-button [btnTypes]="'btn btn-sidebar btn-size-sm'" >Botón sidebar</cygnus-button>

        </div>
        <pre class="w-full">
          <code [highlight]="btnNavbarExampleTs"
                language="ts"
                lineNumbers></code>
        </pre>
        <pre class="w-full">
          <code [highlight]="btnNavbarExample"
                language="html"
                lineNumbers></code>
        </pre>
        <p class="mb-8 text-gray-600 text-md">
          <b>[btnLinkType]</b>: acá se indica el tipo de botón que se quiere utilizar. También pueden combinarse varios aunque se pueden sobreescribir algunas propiedades.
        </p>
        <ul class="mb-8 text-gray-600 text-md list-none">
          <li><b>'btn-link'</b>: botón link por defecto.</li>
          <li><b>'btn-link-simple'</b>: botón link más delgado.</li>
          <li><b>'btn-link-navbar'</b>: botón link para navbar del mainboard.</li>
        </ul>

        <p class="mb-8 text-gray-600 text-md">
          <b>[btnRouterLinkText]</b>: acá se indica la ruta a la cual va a dirigir el link. Si no se quiere indicar una ruta en particular se puede dejar en blanco o indicar './' para que no redireccione a una ruta por defecto.
        </p>
      </div>

    </div>
  </section>

  <!-- Variantes de botones -->
  <section id="button-ghost">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-4 text-xl font-semibold">Variantes de botones</h2>
        <div class="flex items-center justify-center w-full gap-4 mb-4">
          <div class="flex flex-wrap justify-center gap-4 item">

            <!-- COMPONENTE: Botón fantasma -->
            <cygnus-button [btnTypes]="'btn-ghost'" >Fantasma</cygnus-button>
            <!-- COMPONENTE: Botón fantasma gris -->
            <cygnus-button [btnTypes]="'btn-ghost-gray'" >Fantasma Gris</cygnus-button>
            <!-- COMPONENTE: Botón Outline -->
            <cygnus-button [btnTypes]="'btn-outlined'" >Outline</cygnus-button>
            <!-- COMPONENTE: Botón Sólido/simple/primary -->
            <cygnus-button [btnTypes]="'btn'" >Sólido</cygnus-button>

          </div>
        </div>

        <pre class="w-full">
          <code [highlight]="btnVariantesExample"
                language="html"
                lineNumbers></code>
        </pre>

      </div>
    </div>
  </section>

  <!-- Botones primarios -->
  <section id="button-colours">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4">
        <h2 class="mb-4 text-xl font-semibold">Colores de Botones</h2>

        <div class="flex items-center justify-center w-full gap-4 mb-4">
          <div class="flex flex-wrap justify-center gap-4 item">

            <!-- COMPONENTE: Botón primario -->
            <cygnus-button [btnTypes]="'btn-primary'" >Primario</cygnus-button>
            <!-- COMPONENTE: Botón secundario -->
            <cygnus-button [btnTypes]="'btn-secondary'" >Secundario</cygnus-button>
            <!-- COMPONENTE: Botón informativo -->
            <cygnus-button [btnTypes]="'btn-accent'" >Informativo</cygnus-button>
            <!-- COMPONENTE: Botón gris -->
            <cygnus-button [btnTypes]="'btn-gray'" >Gris</cygnus-button>
            <!-- COMPONENTE: Botón éxito -->
            <cygnus-button [btnTypes]="'btn-success'" >Éxito</cygnus-button>
            <!-- COMPONENTE: Botón red -->
            <cygnus-button [btnTypes]="'btn-error'" >Red</cygnus-button>
            <!-- COMPONENTE: Botón Advertencia -->
            <cygnus-button [btnTypes]="'btn-warning'" >Advertencia</cygnus-button>
            <!-- COMPONENTE: Botón enlace -->
            <cygnus-button-link
              [btnLinkType]="'btn-link'"
              [btnRouterLinkText]="''"
            >
              Botón enlace
            </cygnus-button-link>
            <!-- COMPONENTE: Botón enlace simple -->
            <cygnus-button-link
              [btnLinkType]="'btn-link-simple'"
              [btnRouterLinkText]="''"
            >
              Enlace simple
            </cygnus-button-link>

          </div>
        </div>
        <pre class="w-full">
          <code [highlight]="btnColorsExample"
                language="html"
                lineNumbers></code>
        </pre>

        <div class="flex items-center justify-center w-full gap-4 mb-4">
          <div class="flex flex-wrap justify-center gap-4 item">

            <!-- COMPONENTE: Botón primario -->
            <cygnus-button [btnTypes]="'btn-indigo'" >Indigo</cygnus-button>
            <!-- COMPONENTE: Botón secundario -->
            <cygnus-button [btnTypes]="'btn-blue-violet'" >Blue Violet</cygnus-button>
            <!-- COMPONENTE: Botón informativo -->
            <cygnus-button [btnTypes]="'btn-cygnus'" >Cygnus</cygnus-button>
            <!-- COMPONENTE: Botón gris -->
            <cygnus-button [btnTypes]="'btn-primary-cygnus'" >Primary Cygnus</cygnus-button>
            <!-- COMPONENTE: Botón éxito -->
            <cygnus-button [btnTypes]="'btn-accesibilidad-cygnus'" >Accesibilidad Cygnus</cygnus-button>
            <!-- COMPONENTE: Botón red -->
            <cygnus-button [btnTypes]="'btn-postulaaqui-orange'" >PostulaAqui Orange</cygnus-button>
            <!-- COMPONENTE: Botón Advertencia -->
            <cygnus-button [btnTypes]="'btn-full-gray'" >Full Gray</cygnus-button>

          </div>
        </div>
        <pre class="w-full">
          <code [highlight]="btnColors2Example"
                language="html"
                lineNumbers></code>
        </pre>

        <div class="flex items-center justify-center w-full gap-4 mb-4">
          <div class="flex flex-wrap justify-center gap-4 item">

            <!-- COMPONENTE: Botón Outline Red -->
            <cygnus-button [btnTypes]="'btn-outlined-red'" >Botón Outlined Red</cygnus-button>
            <!-- COMPONENTE: Botón Outline Verde -->
            <cygnus-button [btnTypes]="'btn-outlined-green'" >Botón Outlined Verde</cygnus-button>
            <!-- COMPONENTE: Botón Outline Amber -->
            <cygnus-button [btnTypes]="'btn-outlined-amber'" >Botón Outlined Amber</cygnus-button>
            <!-- COMPONENTE: Botón Outline Gris -->
            <cygnus-button [btnTypes]="'btn-outlined-gray'" >Botón Outlined Gris</cygnus-button>
            <!-- COMPONENTE: Botón Outline Cygnus -->
            <cygnus-button [btnTypes]="'btn-outlined-cygnus'" >Botón Outline Cygnus</cygnus-button>

          </div>
        </div>

        <pre class="w-full">
          <code [highlight]="btnOutlinedVariantesExample"
                language="html"
                lineNumbers></code>
        </pre>

        <p class="mb-8 text-gray-600 text-md">
          Botones Outlined pueden tener color transparente o color blanco de fondo.
        </p>

        <div class="flex items-center justify-center w-full gap-4 mb-4">
          <div class="flex flex-wrap justify-center gap-4 item bg-gray-900 pt-5 pb-5">

            <!-- COMPONENTE: Botón Outlined -->
            <cygnus-button [btnTypes]="'btn-outlined'" [btnIconOutlinedTransparent]="false" >Botón Outlined</cygnus-button>
            <!-- COMPONENTE: Botón Outline Red -->
            <cygnus-button [btnTypes]="'btn-outlined-red'" [btnIconOutlinedTransparent]="false" >Botón Outlined Red</cygnus-button>
            <!-- COMPONENTE: Botón Outline Verde -->
            <cygnus-button [btnTypes]="'btn-outlined-green'" [btnIconOutlinedTransparent]="false" >Botón Outlined Verde</cygnus-button>
            <!-- COMPONENTE: Botón Outline Amber -->
            <cygnus-button [btnTypes]="'btn-outlined-amber'" [btnIconOutlinedTransparent]="false" >Botón Outlined Amber</cygnus-button>
            <!-- COMPONENTE: Botón Outline Gris -->
            <cygnus-button [btnTypes]="'btn-outlined-gray'" [btnIconOutlinedTransparent]="false" >Botón Outlined Gris</cygnus-button>
            <!-- COMPONENTE: Botón Outline Cygnus -->
            <cygnus-button [btnTypes]="'btn-outlined-cygnus'" [btnIconOutlinedTransparent]="false" >Botón Outline Cygnus</cygnus-button>

          </div>
        </div>

        <div class="flex items-center justify-center w-full gap-4 mb-4">
          <div class="flex flex-wrap justify-center gap-4 item bg-gray-900 pt-5 pb-5">

            <!-- COMPONENTE: Botón Outlined -->
            <cygnus-button [btnTypes]="'btn-outlined'">Botón Outlined</cygnus-button>
            <!-- COMPONENTE: Botón Outline Red -->
            <cygnus-button [btnTypes]="'btn-outlined-red'">Botón Outlined Red</cygnus-button>
            <!-- COMPONENTE: Botón Outline Verde -->
            <cygnus-button [btnTypes]="'btn-outlined-green'">Botón Outlined Verde</cygnus-button>
            <!-- COMPONENTE: Botón Outline Amber -->
            <cygnus-button [btnTypes]="'btn-outlined-amber'">Botón Outlined Amber</cygnus-button>
            <!-- COMPONENTE: Botón Outline Gris -->
            <cygnus-button [btnTypes]="'btn-outlined-gray'">Botón Outlined Gris</cygnus-button>
            <!-- COMPONENTE: Botón Outline Cygnus -->
            <cygnus-button [btnTypes]="'btn-outlined-cygnus'">Botón Outline Cygnus</cygnus-button>

          </div>
        </div>

        <pre class="w-full">
          <code [highlight]="btnOutlinedVariantesTransparent"
                language="html"
                lineNumbers></code>
        </pre>

        <p class="mb-8 text-gray-600 text-md">
          <b>[btnIconOutlinedTransparent]</b>: Opcional. Por defecto su valor es true. Cuando es false, el botón tiene fondo blanco en lugar de color transparente.
        </p>
      </div>

    </div>
  </section>

  <!-- Tamaño de Botones -->
  <section id="button-size">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4">
        <h2 class="mb-4 text-xl font-semibold">Tamaño de botones</h2>

        <div class="flex items-end justify-center w-full gap-4 mb-4">
          <div class="flex flex-wrap items-end gap-4">

            <cygnus-button [btnTypes]="'btn btn-size-xs'" >X Small</cygnus-button>
            <cygnus-button [btnTypes]="'btn btn-size-sm'" >Small</cygnus-button>
            <cygnus-button [btnTypes]="'btn'" >Medium</cygnus-button>
            <cygnus-button [btnTypes]="'btn btn-size-lg'" >Large</cygnus-button>
            <cygnus-button [btnTypes]="'btn btn-size-xl'" >X Large</cygnus-button>

          </div>
        </div>
        <pre class="w-full">
          <code [highlight]="btnSizesExample"
                language="html"
                lineNumbers></code>
        </pre>
      </div>
    </div>
  </section>

  <!-- Tamaño de Botones con íconos -->
  <section id="button-size">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-4 text-xl font-semibold">Tamaño de botones con íconos</h2>

        <div class="flex items-end justify-center w-full gap-4 mb-4">

          <div class="flex flex-wrap items-end gap-4">

            <!-- COMPONENTE: Botón X Small -->
            <cygnus-button
              [btnTypes]="'btn-accent btn-size-xs btn-icon-sm'"
              [btnIconRouteLeft]="'assets/icons/svg/Arrows/refresh-cw-02.svg'"
              [btnIconRouteRight]="'assets/icons/svg/Arrows/arrow-narrow-right.svg'"
            >
              X small
            </cygnus-button>
            <!-- COMPONENTE: Botón Small -->
            <cygnus-button
              [btnTypes]="'btn-accent btn-size-sm btn-icon-sm'"
              [btnIconRouteLeft]="'assets/icons/svg/Arrows/refresh-cw-02.svg'"
              [btnIconRouteRight]="'assets/icons/svg/Arrows/arrow-narrow-right.svg'"
            >
              Small
            </cygnus-button>
            <!-- COMPONENTE: Botón Medium -->
            <cygnus-button
              [btnTypes]="'btn-accent btn-icon'"
              [btnIconRouteLeft]="'assets/icons/svg/Arrows/refresh-cw-02.svg'"
              [btnIconRouteRight]="'assets/icons/svg/Arrows/arrow-narrow-right.svg'"
            >
              Medium
            </cygnus-button>
            <!-- COMPONENTE: Botón Large -->
            <cygnus-button
              [btnTypes]="'btn-accent btn-size-lg btn-icon-lg'"
              [btnIconRouteLeft]="'assets/icons/svg/Arrows/refresh-cw-02.svg'"
              [btnIconRouteRight]="'assets/icons/svg/Arrows/arrow-narrow-right.svg'"
            >
              Large
            </cygnus-button>
            <!-- COMPONENTE: Botón X Large -->
            <cygnus-button
              [btnTypes]="'btn-accent btn-size-xl btn-icon-lg'"
              [btnIconRouteLeft]="'assets/icons/svg/Arrows/refresh-cw-02.svg'"
              [btnIconRouteRight]="'assets/icons/svg/Arrows/arrow-narrow-right.svg'"
            >
              X Large
            </cygnus-button>

          </div>
        </div>
        <pre class="w-full">
          <code [highlight]="btnWithIconSizesExample"
                language="html"
                lineNumbers></code>
        </pre>

        <p class="mb-8 text-gray-600 text-md">
          <b>[btnIconRouteLeft]</b>: Si se quiere ubicar un ícono en el botón, además de configurarlo en btnTypes, se debe indicar dónde se va a posicionar el ícono y cuál es la ruta o nombre de la imagen del ícono. La ruta es una dirección dentro de la biblioteca ngx-cygnus-icons, pero también se puede indicar con el nombre de la imagen. Si se indica la ruta o el nombre en btnIconRouteLeft, se posicionará el ícono indicado del lado izquierdo del botón.
        </p>
        <p class="mb-8 text-gray-600 text-md">
          <b>[btnIconRouteRight]</b>: Si se quiere ubicar un ícono en el botón, además de configurarlo en btnTypes, se debe indicar dónde se va a posicionar el ícono y cuál es la ruta o nombre de la imagen del ícono. La ruta es una dirección dentro de la biblioteca ngx-cygnus-icons, pero también se puede indicar con el nombre de la imagen. Si se indica la ruta o nombre en btnIconRouteRight, se posicionará el ícono indicado del lado derecho del botón.
        </p>

      </div>
    </div>
  </section>

  <!-- Botones iconos -->
  <section id="button-icons">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-4 text-xl font-semibold">Botones con íconos</h2>
        <div class="flex items-center justify-center w-full gap-4 mb-4">

          <div class="flex flex-wrap justify-center gap-4">

            <!-- COMPONENTE: Botón fantasma -->
            <cygnus-button
              [btnTypes]="'btn-ghost btn-icon btn-icon-sm'"
              [btnIconRouteRight]="'assets/icons/svg/Arrows/chevron-right.svg'"
            >
              Leer más
            </cygnus-button>
            <!-- COMPONENTE: Botón Outline -->
            <cygnus-button
              [btnTypes]="'btn-outlined btn-icon btn-icon-sm'"
              [btnIconRouteRight]="'assets/icons/svg/Arrows/refresh-cw-02.svg'"
            >
              Recargar
            </cygnus-button>
            <!-- COMPONENTE: Botón Sólido Ícono izquierdo -->
            <cygnus-button
              [btnTypes]="'btn btn-icon'"
              [btnIconRouteLeft]="'assets/icons/svg/General/upload-cloud-01.svg'"
            >
              Ícono izquierdo
            </cygnus-button>
            <!-- COMPONENTE: Botón Sólido Ícono derecho -->
            <cygnus-button
              [btnTypes]="'btn btn-icon'"
              [btnIconRouteRight]="'assets/icons/svg/Users/face-smile.svg'"
            >
              Ícono derecho
            </cygnus-button>

            <cygnus-button-hover-animation
              [btnTypes]="'btn btn-icon'"
              [btnAnimationOption]="'A'"
            > <!-- [btnAnimationOption]="'A'" es el valor por defecto si no se indica -->
              Sobre Mi
            </cygnus-button-hover-animation>

            <cygnus-button-hover-animation
              [btnTypes]="'btn btn-icon-xs'"
              [btnAnimationOption]="'B'"
            >
              Sobre Mi
            </cygnus-button-hover-animation>

          </div>
        </div>
        <pre class="w-full">
          <code [highlight]="btnWithIconExample"
                language="html"
                lineNumbers></code>
        </pre>

        <h4><b>cygnus-button-hover-animation:</b></h4>

        <p class="mb-8 text-gray-600 text-md">
          <b>[btnTypes]</b>: acá se indica el tipo de botón que se quiere utilizar dependiendo del tamaño, color, etc. También pueden combinarse varios aunque se pueden sobreescribir algunas propiedades. Son los mismos tipos para el caso del componente cygnus-button.
        </p>
        <p class="mb-8 text-gray-600 text-md">
          <b>[btnAnimationOption]</b>: Puede ser un string 'A' o 'B'. Se refiere a las características de la animación. Si no se implementa, por defecto el valor es 'A'.
        </p>

      </div>
    </div>
  </section>

  <section id="button-colors-postulaaqui">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4">
        <h2 class="mb-4 text-xl font-semibold">Btn PostulaAqui Orange</h2>

        <div class="flex flex-wrap items-center w-full gap-3 mb-4">

          <!-- COMPONENTE: Botón primario -->
          <cygnus-button
            [btnTypes]="'btn-postulaaqui-orange btn-icon btn-icon-sm'"
            [btnIconRouteRight]="'refresh-cw-02'"
          >
            Qué hacemos
          </cygnus-button>
        </div>

        <pre class="w-full">
          <code [highlight]="btnPostulaaquiOrange"
                language="html"
                lineNumbers></code>
        </pre>

      </div>
    </div>
  </section>

  <!-- Botones deshabilitados -->
  <section id="button-disabled">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-4 text-xl font-semibold">Botón Deshabilitado</h2>
        <div class="flex items-center justify-center w-full gap-4 mb-4">

          <!-- COMPONENTE: Botón Deshabilitado -->
          <cygnus-button [btnTypes]="'btn-disabled'" >Botón Deshabilitado</cygnus-button>

        </div>
        <pre class="w-full">
          <code [highlight]="btnDisabledExample"
                language="html"
                lineNumbers></code>
        </pre>
      </div>
    </div>
  </section>

  <!-- Botones de bloque -->
  <section id="button-block">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-4 text-xl font-semibold">Botón de bloque</h2>

        <div class="flex flex-col space-y-3 justify-center">

          <!-- COMPONENTE: Botón fantasma de bloque -->
          <cygnus-button [btnTypes]="'btn-ghost btn-block'" >Botón fantasma de bloque</cygnus-button>
          <!-- COMPONENTE: Botón "outline" de bloque -->
          <cygnus-button [btnTypes]="'btn-outlined btn-block'" >Botón "outline" de bloque</cygnus-button>
          <!-- COMPONENTE: Botón solido de bloque -->
          <cygnus-button [btnTypes]="'btn-primary btn-block'" >Botón sólido de bloque</cygnus-button>

        </div>
        <pre class="w-full">
          <code [highlight]="btnBlockExample"
                language="html"
                lineNumbers></code>
        </pre>
      </div>
    </div>
  </section>

  <!-- Button loading icons -->
  <section id="button-loading-icons">
    <div
      class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border border-gray-300 mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Cargando</h2>
        <p class="mb-8 text-gray-600 text-md">Utilice indicadores dentro de los botones para indicar que
            una acción se está procesando o llevando a cabo en ese
            momento. También se puede cambiar el texto del elemento indicador y utilizar el texto del
            botón
            según sea necesario..</p>
        <div class="flex items-center justify-center w-full gap-4 mb-4">
          <div class="flex flex-wrap gap-4 item">

            <cygnus-button
              [btnTypes]="'btn-ghost btn-size-sm btn-icon'"
              [btnIsLoading]="true"
              [btnIconLoadingSize]="'size-4'"
            >
              Cargando
            </cygnus-button>
            <cygnus-button
              [btnTypes]="'btn-outlined btn-size-sm btn-icon'"
              [btnIsLoading]="true"
              [btnIconLoadingSize]="'size-4'"
            >
              Cargando
            </cygnus-button>
            <cygnus-button
              [btnTypes]="'btn-primary btn-size-sm btn-icon'"
              [btnIsLoading]="true"
              [btnIconLoadingSize]="'size-4'"
            >
              Cargando
            </cygnus-button>

          </div>
        </div>
        <pre class="w-full">
          <code [highlight]="btnLoadingExample"
                language="html"
                lineNumbers></code>
        </pre>
      </div>
    </div>
  </section>

  <!-- Button only icon -->
  <section id="button-icon-only">
    <div
      class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border border-gray-300 mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Botones de íconos</h2>

        <h4 class="mb-2 text-base">Botones de íconos cuadrados</h4>
        <div class="flex items-center justify-center w-full gap-4 mb-4">

          <cygnus-button
            [btnTypes]="'btn-ghost btn-icon-only'"
            [btnIconRouteRight]="'assets/icons/svg/General/plus.svg'"
          >
          </cygnus-button>
          <cygnus-button
            [btnTypes]="'btn-outlined btn-icon-only'"
            [btnIconRouteRight]="'assets/icons/svg/General/plus.svg'"
          >
          </cygnus-button>
          <cygnus-button
            [btnTypes]="'btn-primary btn-icon-only'"
            [btnIconRouteRight]="'assets/icons/svg/General/plus.svg'"
          >
          </cygnus-button>

        </div>
        <pre class="w-full">
          <code [highlight]="btnIconOnlyExample"
                language="html"
                lineNumbers></code>
        </pre>

        <h4 class="mb-2 text-base">Botones de íconos circulares</h4>
        <div class="flex items-center justify-center w-full gap-4 mb-4">

          <cygnus-button
            [btnTypes]="'btn-ghost btn-circle btn-icon-only'"
            [btnIconRouteRight]="'assets/icons/svg/Users/face-smile.svg'"
          >
          </cygnus-button>
          <cygnus-button
            [btnTypes]="'btn-outlined btn-circle btn-icon-only'"
            [btnIconRouteRight]="'assets/icons/svg/Users/face-smile.svg'"
          >
          </cygnus-button>
          <cygnus-button
            [btnTypes]="'btn-primary btn-circle btn-icon-only'"
            [btnIconRouteRight]="'assets/icons/svg/Users/face-smile.svg'"
          >
          </cygnus-button>

          <cygnus-button
            [btnTypes]="'btn-primary btn-circle btn-icon-only-size-full'"
            [btnIconRouteRight]="'accessible-03'"
          >
          </cygnus-button>

          <cygnus-button
            [btnTypes]="'btn-postulaaqui-orange btn-circle btn-icon-only-size-full'"
            [btnIconRouteRight]="'moon-01'"
          >
          </cygnus-button>

          <cygnus-button
            [btnTypes]="'btn-postulaaqui-orange btn-circle btn-icon-only'"
            [btnIconRouteRight]="'moon-01'"
          >
          </cygnus-button>

        </div>
        <pre class="w-full">
          <code [highlight]="btnCircleIconOnlyExample"
                language="html"
                lineNumbers></code>
        </pre>

        <h4 class="mb-2 text-base">Tamaños de botones</h4>
        <div class="flex items-center justify-center w-full gap-4 mb-4">

          <cygnus-button
            [btnTypes]="'btn-primary btn-icon-xl btn-icon-only-size-xs'"
            [btnIconRouteRight]="'assets/icons/svg/General/plus.svg'"
          >
          </cygnus-button>
          <cygnus-button
            [btnTypes]="'btn-primary btn-icon-xl btn-icon-only-size-sm'"
            [btnIconRouteRight]="'assets/icons/svg/General/plus.svg'"
          >
          </cygnus-button>
          <cygnus-button
            [btnTypes]="'btn-primary btn-icon-xl btn-icon-only'"
            [btnIconRouteRight]="'assets/icons/svg/General/plus.svg'"
          >
          </cygnus-button>
          <cygnus-button
            [btnTypes]="'btn-primary btn-icon-xl btn-icon-only-size-lg'"
            [btnIconRouteRight]="'assets/icons/svg/General/plus.svg'"
          >
          </cygnus-button>
          <cygnus-button
            [btnTypes]="'btn-primary btn-icon-xl btn-icon-only-size-xl'"
            [btnIconRouteRight]="'assets/icons/svg/General/plus.svg'"
          >
          </cygnus-button>

        </div>
        <pre class="w-full">
          <code [highlight]="btnIconOnlySizesExample"
                language="html"
                lineNumbers></code>
        </pre>
      </div>

    </div>
  </section>

  <section id="button-group">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Grupo de botones predeterminado</h2>
        <p class="mb-8 text-gray-600 text-md">Este ejemplo de componente muestra un grupo de botones
            interactivo con control detallado sobre la apariencia y el diseño. El uso de clases de utilidad facilita la personalización de cada aspecto del diseño
            del grupo de botones.</p>
        <div class="flex flex-col items-center justify-center w-full gap-4 mb-4">

            <h4 class="text-base">Tamaños</h4>

            <!-- COMPONENTE: Grupo de botones small -->
            <div class="inline-flex flex-row">
              <cygnus-button
                [btnTypes]="'btn-success btn-size-xs btn-group-left'"
              >
                left btn
              </cygnus-button>
              <cygnus-button
                [btnTypes]="'btn-warning btn-size-xs btn-group-middle'"
              >
                middle btn
              </cygnus-button>
              <cygnus-button
                [btnTypes]="'btn-error btn-size-xs btn-group-middle'"
              >
                middle btn
              </cygnus-button>
              <cygnus-button
                [btnTypes]="'btn-ghost btn-size-xs btn-group-right'"
              >
                right btn
              </cygnus-button>
            </div>
            <!-- COMPONENTE: Grupo de botones small -->
            <div class="inline-flex flex-row">
              <cygnus-button
                [btnTypes]="'btn-primary btn-size-xs btn-group-left'"
              >
                left btn
              </cygnus-button>
              <cygnus-button
                [btnTypes]="'btn-primary btn-size-xs btn-group-middle'"
              >
                middle btn
              </cygnus-button>
              <cygnus-button
                [btnTypes]="'btn-primary btn-size-xs btn-group-middle'"
              >
                middle btn
              </cygnus-button>
              <cygnus-button
                [btnTypes]="'btn-primary btn-size-xs btn-group-right'"
              >
                right btn
              </cygnus-button>
            </div>

            <!-- COMPONENTE: Grupo de botones medium -->
            <div class="inline-flex flex-row">
              <cygnus-button
                [btnTypes]="'btn-success btn-group-left'"
              >
                left btn
              </cygnus-button>
              <cygnus-button
                [btnTypes]="'btn-warning btn-group-middle'"
              >
                middle btn
              </cygnus-button>
              <cygnus-button
                [btnTypes]="'btn-error btn-group-middle'"
              >
                middle btn
              </cygnus-button>
              <cygnus-button
                [btnTypes]="'btn-ghost btn-group-right'"
              >
                right btn
              </cygnus-button>
            </div>
            <!-- COMPONENTE: Grupo de botones medium -->
            <div class="inline-flex flex-row">
              <cygnus-button
                [btnTypes]="'btn-primary btn-group-left'"
              >
                left btn
              </cygnus-button>
              <cygnus-button
                [btnTypes]="'btn-primary btn-group-middle'"
              >
                middle btn
              </cygnus-button>
              <cygnus-button
                [btnTypes]="'btn-primary btn-group-middle'"
              >
                middle btn
              </cygnus-button>
              <cygnus-button
                [btnTypes]="'btn-primary btn-group-right'"
              >
                right btn
              </cygnus-button>
            </div>

            <!-- COMPONENTE: Grupo de botones X large -->
            <div class="inline-flex flex-row">
              <cygnus-button
                [btnTypes]="'btn-success btn-size-xl btn-group-left'"
              >
                left btn
              </cygnus-button>
              <cygnus-button
                [btnTypes]="'btn-warning btn-size-xl btn-group-middle'"
              >
                middle btn
              </cygnus-button>
              <cygnus-button
                [btnTypes]="'btn-error btn-size-xl btn-group-middle'"
              >
                middle btn
              </cygnus-button>
              <cygnus-button
                [btnTypes]="'btn-ghost btn-size-xl btn-group-right'"
              >
                right btn
              </cygnus-button>
            </div>
            <!-- COMPONENTE: Grupo de botones X large -->
            <div class="inline-flex flex-row">
              <cygnus-button
                [btnTypes]="'btn-primary btn-size-xl btn-group-left'"
              >
                left btn
              </cygnus-button>
              <cygnus-button
                [btnTypes]="'btn-primary btn-size-xl btn-group-middle'"
              >
                middle btn
              </cygnus-button>
              <cygnus-button
                [btnTypes]="'btn-primary btn-size-xl btn-group-middle'"
              >
                middle btn
              </cygnus-button>
              <cygnus-button
                [btnTypes]="'btn-primary btn-size-xl btn-group-right'"
              >
                right btn
              </cygnus-button>
            </div>

            <pre class="w-full">
              <code [highlight]="btnGroupSizesExample"
                    language="html"
                    lineNumbers></code>
            </pre>

        </div>

        <div class="flex flex-col items-center justify-center w-full gap-4 mb-4">

            <h4 class="text-base">Variantes</h4>
            <!-- Grupo de botones medium -->
            <div class="flex flex-col gap-4">

                <!-- COMPONENTE: Grupo de botones medium -->
                <div class="inline-flex flex-row">
                  <cygnus-button
                    [btnTypes]="'btn-ghost btn-size-sm btn-icon btn-group-left'"
                    [btnIconRouteRight]="'assets/icons/svg/General/heart-hand.svg'"
                  >
                    left btn
                  </cygnus-button>
                  <cygnus-button
                    [btnTypes]="'btn-ghost btn-size-sm btn-icon btn-group-middle'"
                    [btnIconRouteRight]="'assets/icons/svg/General/tool-02.svg'"
                  >
                    middle btn
                  </cygnus-button>
                  <cygnus-button
                    [btnTypes]="'btn-ghost btn-size-sm btn-icon btn-group-right'"
                    [btnIconRouteRight]="'assets/icons/svg/General/download-01.svg'"
                  >
                    right btn
                  </cygnus-button>
                </div>

                <!-- COMPONENTE: Grupo de botones medium -->
                <div class="inline-flex flex-row">
                  <cygnus-button
                    [btnTypes]="'btn-outlined btn-size-sm btn-icon btn-group-left'"
                    [btnIconRouteRight]="'assets/icons/svg/General/heart-hand.svg'"
                  >
                    left btn
                  </cygnus-button>
                  <cygnus-button
                    [btnTypes]="'btn-outlined btn-size-sm btn-icon btn-group-middle'"
                    [btnIconRouteRight]="'assets/icons/svg/General/tool-02.svg'"
                  >
                    middle btn
                  </cygnus-button>
                  <cygnus-button
                    [btnTypes]="'btn-outlined btn-size-sm btn-icon btn-group-right'"
                    [btnIconRouteRight]="'assets/icons/svg/General/download-01.svg'"
                  >
                    right btn
                  </cygnus-button>
                </div>

                <!-- COMPONENTE: Grupo de botones medium -->
                <div class="inline-flex flex-row">
                  <cygnus-button
                    [btnTypes]="'btn-primary btn-size-sm btn-icon btn-group-left'"
                    [btnIconRouteRight]="'assets/icons/svg/General/heart-hand.svg'"
                  >
                    left btn
                  </cygnus-button>
                  <cygnus-button
                    [btnTypes]="'btn-primary btn-size-sm btn-icon btn-group-middle'"
                    [btnIconRouteRight]="'assets/icons/svg/General/tool-02.svg'"
                  >
                    middle btn
                  </cygnus-button>
                  <cygnus-button
                    [btnTypes]="'btn-primary btn-size-sm btn-icon btn-group-right'"
                    [btnIconRouteRight]="'assets/icons/svg/General/download-01.svg'"
                  >
                    right btn
                  </cygnus-button>
                </div>

            </div>
            <pre class="w-full">
              <code [highlight]="btnGroupVariantesExample"
                    language="html"
                    lineNumbers></code>
            </pre>

        </div>
      </div>

    </div>
  </section>

  <section id="button-colours">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4">
        <h2 class="mb-4 text-xl font-semibold">Gradient</h2>

        <p class="mb-8 text-gray-600 text-md">
          Efecto de color gradiente que tiene el objetivo de resaltar que se logró un hito dentro de la aplicación donde se utiliza el botón. Se efectúa sólo entre los colores <span [style]="'color: #5850EC;'">[#5850EC]</span> y <span [style]="'color: #F94C00;'">[#F94C00]</span>.
        </p>

        <p class="mb-8 text-gray-600 text-md">
          Efecto de color del texto según el tipo de botón:
        </p>

        <div class="flex flex-wrap items-center w-full gap-3 mb-4">
          <!-- COMPONENTE: Botón primario -->
          <cygnus-button [btnTypes]="'btn-primary'" [gradientButton]="true" >Primario</cygnus-button>
          <!-- COMPONENTE: Botón secundario -->
          <cygnus-button [btnTypes]="'btn-secondary'" [gradientButton]="true" >Secundario</cygnus-button>
          <!-- COMPONENTE: Botón informativo -->
          <cygnus-button [btnTypes]="'btn-accent'" [gradientButton]="true" >Informativo</cygnus-button>
        </div>

        <pre class="w-full">
          <code [highlight]="btnGradientExample1"
                language="html"
                lineNumbers></code>
        </pre>

        <div class="flex flex-wrap items-center w-full gap-3 mb-4">
          <!-- COMPONENTE: Botón gris -->
          <cygnus-button [btnTypes]="'btn-gray'" [gradientButton]="true" >Gris</cygnus-button>
          <!-- COMPONENTE: Botón éxito -->
          <cygnus-button [btnTypes]="'btn-success'" [gradientButton]="true" >Éxito</cygnus-button>
          <!-- COMPONENTE: Botón red -->
          <cygnus-button [btnTypes]="'btn-error'" [gradientButton]="true" >Red</cygnus-button>
          <!-- COMPONENTE: Botón Advertencia -->
          <cygnus-button [btnTypes]="'btn-warning'" [gradientButton]="true" >Advertencia</cygnus-button>
        </div>

        <pre class="w-full">
          <code [highlight]="btnGradientExample2"
                language="html"
                lineNumbers></code>
        </pre>

        <p class="mb-8 text-gray-600 text-md">
          Efecto en botones con ícono:
        </p>

        <div class="flex flex-wrap items-center w-full gap-3 mb-4">

          <cygnus-button
            [btnTypes]="'btn-ghost btn-icon-only'"
            [btnIconRouteRight]="'assets/icons/svg/General/plus.svg'"
            [gradientButton]="true"
          >
          </cygnus-button>
          <cygnus-button
            [btnTypes]="'btn-outlined btn-icon-only'"
            [btnIconRouteRight]="'assets/icons/svg/General/plus.svg'"
            [gradientButton]="true"
          >
          </cygnus-button>
          <cygnus-button
            [btnTypes]="'btn-primary btn-icon-only'"
            [btnIconRouteRight]="'assets/icons/svg/General/plus.svg'"
            [gradientButton]="true"
          >
          </cygnus-button>

        </div>

        <pre class="w-full">
          <code [highlight]="btnGradientExample3"
                language="html"
                lineNumbers></code>
        </pre>

        <p class="mb-8 text-gray-600 text-md">
          Por defecto <b>[gradientButton]</b> es false si no se indica.
        </p>

      </div>

    </div>
  </section>

</main>


