<button
  #btnRef
  [class]="btnAllClasses()"
  [type]="typeButtonStructure()"
  [disabled]="btnIsDisabled()"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
  [class.bg-transparent]="(!btnPostulaaquiOrange() && btnIconOutlined() && btnIconOutlinedTransparent()) ? true : false"
  [class.bg-white]="(!btnPostulaaquiOrange() && btnIconOutlined() && !btnIconOutlinedTransparent()) ? true : false"
  [ngClass]="gradientButton() ? TW_CLASS.BTN_GRADIENT : ''"
  [style.border]="gradientButton() ? 'unset !important' : ''"
  (touchend)="onTouchEnd()"
>
  @if (btnIconExist && btnIsLoading()) {
    <div [class]="TW_CLASS.BTN_ICON_LOADING + (!btnIconOnly ? ' mr-2 ': ' ') + btnIconLoadingSize() "  role="status" aria-label="loading">
      <span class="sr-only">Cargando...</span>
    </div>
  }
  @if (btnIconExist && btnIconRouteLeft()!=='') {
    <div class="hidden dark:flex dark:justify-center">
      <lib-ngx-cygnus-icons [class]="!btnIconOnly ? 'mr-2' : ''"
        [size]="btnIconSize"
        [textColor]="gradientButton() ? '#F6FEF9' : (btnIconColor()==='lightblack' ? 'white' : btnIconColor())"
        [textRoute]="btnIconRouteLeft()"
      />
    </div>
    <div class="flex dark:justify-center dark:hidden">
      <lib-ngx-cygnus-icons [class]="!btnIconOnly ? 'mr-2' : ''"
        [size]="btnIconSize"
        [textColor]="gradientButton() ? '#F6FEF9' : btnIconColor()"
        [textRoute]="btnIconRouteLeft()"
      />
    </div>
  }
    <ng-content></ng-content>
  @if (btnIconExist && btnIconRouteRight()!=='') {
    <div class="hidden dark:flex dark:justify-center">
      <lib-ngx-cygnus-icons [class]="!btnIconOnly ? 'ms-2' : ''"
        [size]="btnIconSize"
        [textColor]="gradientButton() ? '#F6FEF9' : (btnIconColor()==='lightblack' ? 'white' : btnIconColor())"
        [textRoute]="btnIconRouteRight()"
      />
    </div>
    <div class="flex dark:justify-center dark:hidden">
      <lib-ngx-cygnus-icons [class]="!btnIconOnly ? 'ms-2' : ''"
        [size]="btnIconSize"
        [textColor]="gradientButton() ? '#F6FEF9' : btnIconColor()"
        [textRoute]="btnIconRouteRight()"
      />
    </div>
  }

</button>

