<div class="max-w-2xl mx-auto">

  @if (estadoFinal === 'enviando') {
    <div class="flex flex-col items-center justify-center p-12 bg-blue-50 dark:bg-blue-900/20 rounded-xl border-2 border-dashed border-blue-400 animate-in zoom-in duration-300">
      <div class="w-12 h-12 border-4 border-blue-600 border-t-transparent rounded-full animate-spin mb-4"></div>
      <div class="text-blue-700 dark:text-blue-400 font-bold text-xl text-center">
        Preparando envío de video
      </div>
      <div class="text-blue-500 text-sm">Finalizando proceso...</div>
    </div>
  }

  @if (estadoFinal === 'error') {
    <div class="flex flex-col items-center justify-center p-12 bg-red-50 dark:bg-red-900/20 rounded-xl border-2 border-dashed border-red-400 animate-in shake-x duration-500">
      <lib-ngx-cygnus-icons class="mb-2" [size]="'xl'" [textColor]="'red'" [textRoute]="'alert-circle'"/>
      <div class="text-red-700 dark:text-red-400 font-bold text-xl text-center">
        No hay video para enviar
      </div>
    </div>
  }

  @if ((estadoFinal !== 'enviando') || !estadoFinal) {

    <!-- Video Live -->
    @if (mostrarGrabacion && !videoParaRevisar) {
    <video
      #videoLive
      autoplay
      muted
      playsinline
      class="w-full rounded-lg bg-black mb-4 shadow-lg border border-gray-800">
    </video>
    }

  }

  @if (procesando) {
  <div class="flex flex-col items-center justify-center p-8 animate-pulse">
    <div class="text-blue-600 font-semibold text-lg">Procesando video...</div>
    <div class="text-sm text-gray-500">Por favor espera un momento</div>
  </div>
  }
  @if (videoParaRevisar && !procesando) {
    <div class="mb-6 animate-in fade-in duration-300">
      <h3 class="text-center text-lg font-semibold mb-2 text-gray-700 dark:text-gray-500">Revisar Grabación</h3>

      <video
        [src]="urlVideoSegura"
        controls
        playsinline
        class="w-full rounded-lg bg-black shadow-lg border border-gray-300">
      </video>

      <div class="text-center mt-2 text-sm text-gray-500">
        Duración: {{ formatearTiempo(videoParaRevisar.duracion) }}
      </div>
    </div>
  }

  <!-- Temporizador -->
  @if (!videoParaRevisar) {
    <div class="flex items-center justify-center text-center text-lg font-base mb-6 text-gray-900 dark:text-white">
      <span class="hidden dark:flex">
        <lib-ngx-cygnus-icons class="mr-2"
          [size]="'lg'"
          [textColor]="'white'"
          [textRoute]="'clock'"
        />
      </span>
      <span class="flex dark:hidden">
        <lib-ngx-cygnus-icons class="mr-2"
          [size]="'lg'"
          [textColor]="'lightblack'"
          [textRoute]="'clock'"
        />
      </span>

      {{ tiempo }} - {{ duracionMaxima() | formatTime }}
    </div>
  }

  <!-- Botones -->
  <div class="flex flex-wrap gap-4 justify-center items-center">

    @if (!videoParaRevisar) {
      <button
        (click)="iniciar()"
        [disabled]="grabando"
        class="w-full md:w-auto flex items-center justify-center bg-on-500 hover:bg-on-600 text-white px-4 py-3 rounded-lg font-semibold transition-all disabled:border-gray-200 disabled:bg-gray-300 disabled:text-gray-500 disabled:shadow-none cursor-pointer disabled:cursor-not-allowed">
        <lib-ngx-cygnus-icons class="me-3"
          [size]="'xl'"
          [textColor]="grabando ? 'gray' : 'white'"
          [textRoute]="'mic'"
        />
        <div class="flex flex-col text-start">
          Iniciar grabación
        </div>
      </button>

      <button
        (click)="detener()"
        [disabled]="!grabando"
        class="w-full md:w-auto flex items-center justify-center bg-off-500 hover:bg-off-600 text-white px-4 py-3 rounded-lg font-semibold transition-all disabled:shadow-none cursor-pointer disabled:cursor-not-allowed">
        <lib-ngx-cygnus-icons class="me-3"
          [size]="'xl'"
          [textColor]="!grabando ? 'white' : 'white'"
          [textRoute]="'stop-circle'"
        />
        <div class="flex flex-col text-start">
          Detener grabación
        </div>
      </button>
    }
    @else {
      <button
        (click)="descartarGrabacion()"
        class="flex items-center bg-blue-600 border-blue-600 text-white hover:bg-blue-800 hover:border-blue-800 focus:ring-blue-300 px-4 py-3 rounded-lg font-semibold transition-all cursor-pointer">
        <lib-ngx-cygnus-icons class="me-3"
          [size]="'xl'"
          [textColor]="'white'"
          [textRoute]="'trash'"
        />
        <span>Descartar</span>
      </button>

      @if (mostrarBotonEnviarGrabacion()) {
      <button
        (click)="confirmarEnvio()"
        class="flex items-center bg-blue-600 hover:bg-blue-700 text-white px-4 py-3 rounded-lg font-semibold transition-all shadow-md cursor-pointer">
        <lib-ngx-cygnus-icons class="me-3"
          [size]="'xl'"
          [textColor]="'white'"
          [textRoute]="'check-circle'"
        />
        <span>Enviar Grabación</span>
      </button>
      }

    }


  </div>

  <!-- Mensaje cuando se detiene automáticamente -->
  @if (detenidoAutomaticamente && !videoParaRevisar) {
    <div class="mt-4 p-4 bg-yellow-100 border border-yellow-400 text-yellow-700 rounded-lg text-center animate-pulse">
      Se ha alcanzado el límite de grabación ({{ formatearTiempo(duracionMaxima()) }}).
    </div>
  }
</div>
