<main class="col-span-1 p-6 bg-white lg:col-span-8">

  <header class="mb-12">
    <h1 class="text-4xl font-bold">Modales</h1>
    <p class="mt-4 text-gray-600 text-md">Se unan las ventanas modales para informar a los usuarios sobre
        tareas o información importante que requieren decisiones o
        implican múltiples pasos.

        Un modal es una ventana que muestra información crítica, deshabilita todas las funciones de la
        aplicación cuando aparece
        y permanece en la pantalla hasta que se Confirmara o se descarta.

        Vea a continuación nuestros ejemplos modales diseñados con Tailwind CSS que puede usar para sus
        aplicaciones web o
        móviles.

    </p>
  </header>

  <section id="modal-explanation">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Cómo usar cygnus-modal</h2>
        <p class="mb-8 text-secondary-600 text-md">
          Importar el componente de la biblioteca ngx-cygnus-ui y algún otro componente que podrías necesitar para llamar al modal en el archivo .ts del componente donde lo vas a implementar.
        </p>

        <pre>
          <code [highlight]="cygnusModalImportTs"
                language="ts"
                lineNumbers></code>
        </pre>

        <p class="mb-8 text-secondary-600 text-md">
          Implementar una o dos variables tipo boolean y sus respectivos métodos para manejar el modal y el botón X de cierre si corresponde.
        </p>

        <pre>
          <code [highlight]="cygnusModalBooleanTs"
                language="ts"
                lineNumbers></code>
        </pre>

        <p class="mb-8 text-secondary-600 text-md">
          En el documento .html del componente, posicionar la plantilla del modal, el componente que se requiera para ejecutar el modal y agregar la configuración según corresponda.
        </p>

        <pre>
          <code [highlight]="cygnusModalHtml"
                language="html"
                lineNumbers></code>
        </pre>

        <ul class="mb-8 text-gray-600 text-md list-none">
          <li><b>[modalTitle]</b>: Acá se indica el texto correspondiente al título del modal.</li>
          <li><b>[modalContent]</b>: Acá se indica el texto correspondiente al contenido del modal.</li>
          <li><b>[(showModal)]</b>:Acá se entrega una variable tipo boolean para manejar la aparición/desaparición del modal.</li>
        </ul>
      </div>
    </div>
  </section>

  <section id="modal-simple">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Modal simple</h2>

        <div class="flex items-center justify-center w-full gap-4 mb-4">

          <cygnus-button [btnTypes]="'btn-primary'" (click)="toggleModalSimple()" >Abrir Modal</cygnus-button>

          <cygnus-modal
            [modalTitle]="'Esta es una simple Modal'"
            [(showModal)]="showModalSimple"
          >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit nemo pariatur
            reiciendis voluptates repellendus, eum sunt architecto quam praesentium?
            Nesciunt velit consequatur reiciendis expedita natus, hic veniam quisquam quam
            dolorum. HOLI HOLI
          </cygnus-modal>

        </div>

        <pre>
          <code [highlight]="cygnusModalSimpleTs"
                language="ts"
                lineNumbers></code>
        </pre>

        <pre>
          <code [highlight]="cygnusModalHtml"
                language="html"
                lineNumbers></code>
        </pre>

      </div>
    </div>
  </section>

  <section id="modal-close">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Modal con cierre equis (X)</h2>

        <div class="flex items-center justify-center w-full gap-4 mb-4">

          <cygnus-button [btnTypes]="'btn-primary'" (click)="toggleModalEquis()" >Abrir Modal</cygnus-button>

          <cygnus-modal
            [modalTitle]="'Esta es una simple Modal'"
            [(showModal)]="showModalEquis"
            [withX]="true"
          >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit nemo pariatur
            reiciendis voluptates repellendus, eum sunt architecto quam praesentium?
            Nesciunt velit consequatur reiciendis expedita natus, hic veniam quisquam quam
            dolorum.
          </cygnus-modal>
        </div>

        <pre>
          <code [highlight]="cygnusModalEquisTs"
                language="ts"
                lineNumbers></code>
        </pre>

        <pre>
          <code [highlight]="cygnusModalEquisHtml"
                language="html"
                lineNumbers></code>
        </pre>

      </div>

    </div>
  </section>

  <section id="modal-contenido">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Modal con contenido variado</h2>

        <p class="mb-8 text-secondary-600 text-md">
          La idea es que dentro de los tags del componente se pueda posicionar cualquier tipo de contenido y que el modal se adapte al espacio disponible.
        </p>

        <div class="flex items-center justify-center w-full gap-4 mb-4">

          <cygnus-button [btnTypes]="'btn-primary'" (click)="toggleModalContenido()" >Abrir Modal</cygnus-button>

          <cygnus-modal
            [modalTitle]="'Modal con contenido'"
            [(showModal)]="showModalContenido"
          >
            <!-- COMPONENTE: cygnus-custom-table -->
            @if (EMPRESAS) {
              <cygnus-custom-table
                [dataTable]="EMPRESAS"
                [tableType]="'stripped-hover'"
                [tdEditArr]="empresasEditArr"
                (emitModifiedData)="showEditedData($event)"
                [showSearch]="false"
              />
            }
            <div class="flex flex-wrap items-center justify-end gap-2 p-4 sm:p-6 shrink-0 border-t border-gray-200">
              <cygnus-button [btnTypes]="'btn-secondary'" (click)="toggleModalContenido()" >Cancelar</cygnus-button>
              <cygnus-button [btnTypes]="'btn-primary'" (click)="sendData()" >Confirmar</cygnus-button>
            </div>
          </cygnus-modal>

        </div>

        <pre>
          <code [highlight]="showModalContenidoTs"
                language="ts"
                lineNumbers></code>
        </pre>

        <pre>
          <code [highlight]="showModalContenidoHtml"
                language="html"
                lineNumbers></code>
        </pre>

      </div>
    </div>
  </section>

  <section id="modal-two-ng-content">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Modal Two NG Content</h2>

        <p class="mb-8 text-secondary-600 text-md">
          Modal que tiene dos lugares separados para añadir contenido personalizado: Título y contenido en sí. De esta forma se permite que el título tenga estilo y contenido no predeterminado.
        </p>

        <div class="flex items-center justify-center w-full gap-4 mb-4">

          <cygnus-button [btnTypes]="'btn-primary'" (click)="toggleModalTwoNgContent()" >Abrir Modal</cygnus-button>

          <cygnus-modal-two-ng-content
            [(showModal)]="showModalTwoNgContent"
            [withX]="withX"
            [inputMaxW]="'max-w-lg'"
          >
            <div modal-title class="flex">
              Título personalizado&NonBreakingSpace;
              <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg">
                <rect width="30" height="30" style="fill:blue;stroke:pink;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />
              </svg>
            </div>
            <div modal-content class="max-w-lg">
              <p class="pt-4 pb-2">
                Contenido personalizado.
              </p>
            </div>
          </cygnus-modal-two-ng-content>

        </div>

        <pre>
          <code [highlight]="showModalTwoNgContentTs"
                language="ts"
                lineNumbers></code>
        </pre>

        <pre>
          <code [highlight]="showModalTwoNgContentHtml"
                language="html"
                lineNumbers></code>
        </pre>

      </div>
    </div>
  </section>

</main>
