<fieldset class="fieldset">
  @if (inputCustomType()==='fieldset-legend-label' && pseudoIconCLPPhone()===true) {
    <label [for]="inputId()" [class]="labelClass()">
      {{ textLabel() }}
    </label>
  }

  @if (!pseudoIconCLPPhone()===true && (inputCustomType()==='fieldset-legend-label' || inputCustomType()==='file')) {
    <label [for]="inputId()" [class]="labelClass()">
      {{ textLabel() }}
    </label>
  }

  <div [class]="wrapperClass()">
    <div [class]="innerClass()">

      @if (pseudoIconCLPPhone()===true) {
        <span
          class="flex items-center mr-2 absolute h-full inset-y-0 !px-3 rounded-none rounded-l-lg element-left bg-gray-200 dark:bg-gray-700"
          [class]="gradientBorder() ? 'border-t-2 border-b-2 border-l-0 border-r-2' : 'border border-gray-300 dark:border-gray-600'"
        >
          <span class="inset-y-0 flex items-center pointer-events-none start-0 text-sm font-semibold text-gray-600 dark:text-white">
            +56
          </span>
        </span>
      }

      <input
        #cygnusInput
        [id]="inputId()"
        [type]="inputType()"
        [class]="inputClass()"
        [placeholder]="textPlaceholder()"
        [disabled]="inputDisabled()"
        [readOnly]="inputDisabled()"

        (input)="setValue(cygnusInput.value)"
        (blur)="setInputIsBlur(cygnusInput.value)"

        [appRutFormat]="isRutFormatActive()"
        [withDots]="useRutDots()"

        [appMaxLengthTruncate]="useTruncate()"
        [limit]="truncateLength()"
        [onlyNumbers]="onlyNumbers()"

        appOnlyLetters
        [onlyLettersEnabled]="isLetterOnly()"
        [onlyLettersMaxLength]="isLetterOnlyMaxChars()"
        [onlyLettersMinLength]="isLetterOnlyMinChars()"

        appEmailFormatter
        [emailFormatterEnabled]="emailFormatterEnabled()"

        appCustomInputText
        [customInputTextEnabled]="customInputTextEnabled()"
        [customInputTextMaxLength]="customInputTextMaxLength()"
        [customInputTextMinLength]="customInputTextMinLength()"

        appTextEmpresa
        [textEmpresaEnabled]="textEmpresaEnabled()"
        [textEmpresaMaxLength]="textEmpresaMaxLength()"
        [textEmpresaMinLength]="textEmpresaMinLength()"

        [value]="inputClearValue() ? '' : (control()?.value ?? '')"
        autocomplete="one-time-code"
      >

      @if (inputCustomType()!=='base' && inputCustomType()!=='fieldset-legend-label' && inputCustomType()!=='file') {
        <label [for]="inputId()" [class]="labelClass()">
          {{ textLabel() }}
        </label>
      }

      @if (iconAsset()!=='' && iconPosition()==='right') {
        <div [class]="'absolute flex items-center inset-y-3 end-2 ' + (inputCustomType()==='floating' ? 'h-5': 'h-6')">
          <lib-ngx-cygnus-icons
            [size]="iconSize()"
            [textColor]="iconColor()"
            [textRoute]="iconAsset()"
            (click)="notifyIconClicked()"
          />
        </div>
      } @else if (iconAsset()!=='' && iconPosition()==='left') {
        <div class="absolute flex items-center pointer-events-none ps-2 inset-y-0 start-0">
          <lib-ngx-cygnus-icons
            [size]="iconSize()"
            [textColor]="iconColor()"
            [textRoute]="iconAsset()"
            (click)="notifyIconClicked()"
          />
        </div>
      }

    </div>
  </div>

  @if (!pseudoIconCLPPhone()===true && inputCustomType()!=='base') {
    <p [class]="hintClass()">{{ textHint() }}</p>
  }

  @if (pseudoIconCLPPhone()===true && inputCustomType()!=='base') {
    <p [class]="hintClass()">{{ textHint() }}</p>
  }
</fieldset>
