@if (dropdownItemType()==='simple') {
  <li role="menuitem">
    <a
      class="flex items-center w-full px-4 py-2.5 text-sm text-gray-800 transition-colors duration-300 cursor-pointer hover:bg-gray-200 focus:bg-gray-100 active:bg-gray-100"
      [routerLink]="itemContent()?.routerLinkText"
      (click)="itemSelected()"
    >
      {{itemContent()?.itemText}}
    </a>
  </li>

} @else if (dropdownItemType()==='radiobutton') {
  <div class="flex items-center w-full px-4 py-2 text-sm text-gray-800 transition-colors duration-300 cursor-pointer hover:bg-gray-200 focus:bg-gray-100 active:bg-gray-100">
    <cygnus-radio-button
      [labelText]="itemContent()?.itemText||''"
      [isDisabled]="false"
      (click)="itemSelected()"
      [control]="radioForm.controls.radiodrop"
    />
  </div>

} @else if (dropdownItemType()==='iconText') {
  <li>
    <a
      [routerLink]="itemContent()?.routerLinkText"
      class="flex items-center px-4 py-2 text-sm hover:bg-gray-100"
      (click)="itemSelected()"
    >
      <lib-ngx-cygnus-icons class="mr-2"
        [size]="'xl'"
        [textColor]="'thrgray'"
        [textRoute]="itemContent()?.iconAssetText||''"
      />
        {{itemContent()?.itemText}}
    </a>
  </li>

} @else if (dropdownItemType()==='close') {
  <a
    [routerLink]="itemContent()?.routerLinkText"
    class="flex items-center px-4 py-2 text-sm text-red-600 hover:bg-gray-100"
    (click)="itemSelected()"
  >
    <lib-ngx-cygnus-icons class="mr-2"
        [size]="'xl'"
        [textColor]="'mediumred'"
        [textRoute]="itemContent()?.iconAssetText||''"
      />
    {{itemContent()?.itemText}}
</a>

}
